services:
  web:
    build:
      context: .
      args:
        - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
        - VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}
        - VITE_HOTELBEDS_API_KEY=${VITE_HOTELBEDS_API_KEY}
        - VITE_HOTELBEDS_API_SECRET=${VITE_HOTELBEDS_API_SECRET}
    ports:
      - "8080:80"
    restart: always
